.featured-menu-section {
  background-color: #fdfaf6;
}

.section-title {
  font-weight: bold;
  color: #333;
  position: relative;
  padding-bottom: 15px;
}

.section-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 4px;
  background-color: #e67e22;
  border-radius: 2px;
}
